/* This will make things look the same */
div {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    float: left;
}

#sky {
    background-color: #0000FF;
}

#ground {
    background-color: #008000;
}

#subterrain {
    background-color: #8B4513;
}
