body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  float: left;
  background-color: #0000FF;
}
